.linkToAbout::before {
  content: '';
  position: absolute;
  bottom: -30%;
  left: -20%;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background: var(--color-primary);
  z-index: -1;
  transform: scale(0);
  transform-origin: center;
  transition: transform 0.4s ease;
  will-change: transfrom;
  pointer-events: none;
}

.linkToAbout::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 14rem;
  height: 14rem;
  border-radius: 50%;
  transform: translate(50%, -50%);
  background-color: var(--color-background-primary);
  pointer-events: none;
}

.linkToAbout:hover::before {
  transform: scale(6);
}
