@import 'tailwindcss';

@font-face {
  font-family: 'Cinzel';
  src: url(./assets/Font/Cinzel-VariableFont_wght.ttf);
}

@font-face {
  font-family: 'DMSans';
  src: url(./assets/Font/DMSans-VariableFont_opszwght.ttf);
}

:root {
  --default-font-family: DMSans;
  --color-bg-primary: #f7f7f7;
  --color-text-primary: #27272a;
}

::selection {
  background-color: #000;
  color: var(--color-background-primary);
}

::-moz-selection {
  background-color: #000;
  color: var(--color-background-primary);
}

@theme {
  --font-Cinzel: Cinzel;
  --font-DMSans: DMSans;
  --text-fs-primay: 1.4rem;
  --color-background-primary: #f7f7f7;
  --color-primary: #27272a;
  --color-primary-red: #d90211;
  --color-primary-cyan: #6798a8;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background-color: var(--color-bg-primary);
  color: var(--color-text-primary);
}

::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 0.5s;
}

@keyframes page-out {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0.4;
    transform: translateY(-35%);
    background-color: #000;
  }
}

@keyframes page-in {
  from {
    clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
  }

  to {
    clip-path: polygon(0% 100%, 100% 100%, 100% 0%, 0% 0%);
  }
}

::view-transition-old(root) {
  animation: 1.5s cubic-bezier(0.87, 0, 0.13, 1) both page-out;
  background-color: var(--color-primary);
}

::view-transition-new(root) {
  animation: 1.5s cubic-bezier(0.87, 0, 0.13, 1) both page-in;
}
